<div class="header" style="display: block; padding-bottom: 40px;">
    <div class="btnMedium" style="float:left; background-color: aqua;" (click)="shopping()">
        <img src="../../assets/images/Cart.svg" width="30px" height="30px" style="background-color: aqua;">
    </div>
    <input style="float:right; width:100px; margin:0px" type="text" placeholder="Search">
</div>

<div style="height:600px; width:100%; overflow-y:auto; padding-bottom:100px;">
    <div class="content">
        <input #name style="float: left; width:150px;"  type="text" placeholder="Item">
        <!-- <h2 style="float: right;">14€</h2> -->
        <p style="float: right;">€</p>
        <input #price style="float: right; margin-top: 15px; width:60px; height:5px;" type="number" placeholder="0.00">
        <br style="clear:both;">
        <input #description type="text" placeholder="Description">
        <div class="box" style="float: left;">
            <img class="child" src="../../assets/images/Minus.svg" alt="Minus" width="50px" (click)="quantityDown()">
            <p class="child">{{ addNewQuantity }}</p>
            <img class="child" src="../../assets/images/Plus.svg" alt="Plus" width="50px" (click)="quantityUp()">
        </div>
        <div class="btnMedium" style="float: right;  margin-top:10px;" (click)="createItem(name.value,description.value,price.value);name.value='';description.value='';price.value='0.00'"> ADD TO LIST</div>
        
        <br style="clear:both">
    </div>


    <app-item-item *ngFor="let item of itemList" (deleteItem)="deleteItem(item)"
        [item]="item"
        [price]="item.price"
        [quantity]="item.quantity"
        [name]="item.name"
        [text]="item.description"></app-item-item>   

</div>



<!-- Overlaying shopping div -->
<div id="overlay" (click)="off()">
    
    <div class="btnMedium"(click)="off()" style="right:0;">
        x
    </div>
    <table>
        <td>
            <tr>
                <p>Name</p>
            </tr>
            <tr>
                <p>Vodka</p>
            </tr>
        </td>
        <td>
            <tr>
                <p>QU.</p>
            </tr>
            <tr>
                <p>2x</p>
            </tr>
        </td>
        <td>
            <tr>
                <p>PRICE</p>
            </tr>
            <tr>
                <p>14€</p>
            </tr>
        </td>
    </table>
</div>
<!-- end of shopping div -->

<div class="footer">
    <div class="btnSmall" style="float:left; margin-right: 40px;" (click)="party()">
        <p><</p>
    </div>
    <div class="btnBig" style="float:right; margin:0px 20px 20px 0px">
        <p>SHOPPING LIST</p>
    </div>
</div>