<div class="content">
    <input type="text" style="float: left; width:150px;"  value={{item.name}} (change)="inputChange('name',$event)"/>
    <!-- <h2 style="float: right;">14€</h2> -->
    <span class="input-symbol-euro">
        <input style="float: right; margin-top: 15px; width:60px; height:5px;" type="number" placeholder="0.00" value={{item.price}} (change)="inputChange('price',$event)">
    </span>
    <br style="clear:both;">
    <input type="text" value={{item.description}} (change)="inputChange('description',$event)" />
    <div class="box" style="float: left;">
        <img class="child" src="../../assets/images/Minus.svg" alt="Minus" width="50px" (click)="quantityDown()">
        <p class="child">{{ item.quantity }}</p>
        <img class="child" src="../../assets/images/Plus.svg" alt="Plus" width="50px" (click)="quantityUp()">
    </div>
    <div class="btnSmall" style="float: right;  margin-top:10px; margin-left: 10px;"(click)="deleteBaje()">X</div>
    <!-- Cart button
    <div class="btnMedium" style="float: right;"> ADD TO CART</div>
    -->
    <br style="clear:both">
</div>
