<div class="content" style="padding-bottom: 80px;"> 
      
    <p style="text-align: left; padding-left: 8px; margin-bottom: 6px; font-weight: 600;">Party name</p>
    <input #name type="text" placeholder="Birthday Party" value="{{ partyInfo.name }}">

    <p style="text-align: left; padding-left: 8px; margin-bottom: 6px; font-weight: 600;">Party address</p>
    <input #address type="text" placeholder="Street address and building number" value="{{ partyInfo.address }}">
    <input #exactDirections type="text" placeholder="Staircase / apartment / floor / other " value="{{ partyInfo.exactDirections }}" > 

    <p class="mali">START DATE</p>
        <input  #dateFrom type="datetime-local" value="{{ dateFromStr }}">
    
    <!-- TODO STYLE THIS -->
    <p class="mali">DAYS</p>
        <input #days type="number" placeholder="1" value="{{ daysStr }}">
    <!--TODO STYLE THIS-->
    <p>DESCRIPTION</p>
        <input #description type="text" placeholder="This party will be BLAST. Take swiming trunks and slippers." value="{{ partyInfo.description }}">

    <p style="text-align: left; padding-left: 8px; margin-bottom: 6px; font-weight: 600; margin-top: 40px;">Location Price</p>
    <span class="input-symbol-euro">
        <input #budget type="text" placeholder="120" value="{{ partyInfo.budget }}" style="width:30% ;float: left;">   
    </span>
</div>

<div class="footer">
    <div class="btnSmall" style="float:left;" (click)="createPartyInfo(name.value,description.value,address.value,exactDirections.value,dateFrom.value,days.value,budget.value)">
        <img src="../../assets/images/Back.svg" style="width: 12px; height: auto;">
    </div>
</div>