<div class="content" style="padding-bottom: 20px;"> 
      
    <p style="text-align: left; margin: 10px 0px 0px 8px; font-weight: 600;">Party Name</p>
    <input #name type="text" placeholder="Birthday Party" value="{{ partyInfo.name }}">

    <p style="text-align: left; margin: 10px 0px 0px 8px; font-weight: 600;">Party Details</p>
    <input #address type="text" placeholder="Street address and building number" value="{{ partyInfo.address }}">
    <input #exactDirections type="text" placeholder="Staircase / apartment / floor / other " value="{{ partyInfo.exactDirections }}" > 

    <textArea rows="4" cols="40" #description type="text" placeholder="Enter some more party details here. " value="{{ partyInfo.description }}"> </textArea>

    
    <p class="mali">START DATE</p>
        <input  #dateFrom type="datetime-local" value="{{ dateFromStr }}">
    
    <!-- TODO STYLE THIS -->
    <p class="mali">DAYS</p>
        <input #days type="number" placeholder="1" value="{{ daysStr }}">
    <!--TODO STYLE THIS-->
    
    <p style="text-align: left; margin: 10px 0px 0px 8px; font-weight: 600;">Location Price</p>
    <span class="input-symbol-euro">
        <input #budget type="text" placeholder="120" value="{{ partyInfo.budget }}" style="width:30% ;float: left;">   
        
    </span>

</div>

<app-alert *ngIf="showError"
    type="error"
    text="Error while creating party."
    (hideEvent)="hideAlert($event)"
></app-alert>

<div class="footer">
    <div class="btnSmall" style="float:left;" (click)="createPartyInfo(name.value,description.value,address.value,exactDirections.value,dateFrom.value,days.value,budget.value)">
        <img src="../../assets/images/Back.svg" style="width: 12px; height: auto;">
    </div>

</div>