<div class="header" style="display: block; padding-bottom: 40px;">
    <div class="btnMedium" style="float:left; background-color: aqua;" (click)="back()">
        <img src="../../assets/images/Cart.svg" width="30px" height="30px" style="background-color: aqua;">
    </div>
    <input style="float:right; width:100px; margin:0px" type="text" placeholder="Search">
</div>

<div id="shoppingCart" style="height:600px; width:100%; overflow-y:auto;">
    <div style="background-color: #D1FFFF;">
        <p style="margin-left: 10%;">NAME</p>
        <p style="margin-left: 25%;">QU.</p>
        <p style="margin-left: 25%">PRICE</p>
    </div>
    <hr>
    
    <app-shopping-item
        name="Vodka"
        [price]="12.3"
        [quantity]="2"
    ></app-shopping-item>

    <app-shopping-item
        name="Gin"
        [price]="15.3"
        [quantity]="2"
    ></app-shopping-item>

    <app-shopping-item
        name="Vriski"
        [price]="16.3"
        [quantity]="3"
    ></app-shopping-item>
</div>
