#shoppingCart{
    margin-top: 20px;
    background-color: #D1FFFF;
    border-radius: 30px;
    overflow-y: auto;
}

p{
    background-color: #D1FFFF;
    color: black;
    display: inline-block;
}

hr{
    width: 80%;
}

