<div style="text-align: center; margin-top: 30%;" *ngIf="visible">
    <img id="logoimage" src="../../assets/images/PP_logotip.svg" style="margin-top: 50%; width: 70%;" >
    <div style="position: fixed; bottom: 0px; width: 100%;">
        <p style="margin: 0 auto; margin-bottom: 20px; font-size: small;">by CoffeeGrainStudio</p>
    </div>
</div>

  

<div class="content" *ngIf="!visible" (click)="party()">
    <img src="../../assets/images/Beer.svg">
    <h1>PARTY</h1>
    <p style="font-weight:500;"> Invite your friends<br>
    Select the drinks,<br>
    Determine the location,<br>
    Split the bill.</p>
</div>
<div class="content" *ngIf="!visible" (click)="budget()">
    <img src="../../assets/images/Coin.svg">
    <h1>BUDGET</h1>
    <p style="font-weight:500;">Determine how much money<br>
    you have, then choose<br>
    the drinks, location, and so on.</p>
</div> 