<div style="text-align: center; margin-top: 30%;" *ngIf="visible">
    <img id="logoimage" src="../../assets/images/PP_logotip.svg" style="margin-top: 50%; width: 70%;" >
    <div style="position: fixed; bottom: 0px; width: 100%;">
        <p style="margin: 0 auto; margin-bottom: 20px; font-size: small;">by CoffeeGrainStudio</p>
    </div>
</div>

<div *ngIf="!visible" class="content-party" (click)="party()" style="padding:0 auto;">
    <img class="child" src="../../assets/images/create.svg" alt="Minus" width="50px" >
    <p class="title-party">CREATE PARTY</p>
</div>

<div *ngIf="!visible" class="content-party" (click)="archive()" style="padding:0 auto;">
    <div style="vertical-align: middle; ">
    <img class="child" src="../../assets/images/archive.svg" alt="Minus" width="50px">
    <p class="title-party-white">PARTY ARCHIVE</p>
    </div>
</div> 

<app-alert *ngIf="showError"
    type="error"
    text="Error while loading data."
    (hideEvent)="hideAlert($event)"
></app-alert>

<!-- <div>  
    <div class="content-party" *ngFor="let party of partyList" (click)="load(party.id)">
        <img style="float:right; width: 20%; margin-top:  25px; fill-opacity: 0.5;" src="../../assets/images/food_category.svg">
        <p class="title-party">{{party.info.name}}</p>
    </div> 
</div> -->

<!-- <div class="content" *ngIf="!visible" (click)="party()">
    <img src="../../assets/images/Beer.svg">
    <h1>PARTY</h1>
    <p style="font-weight:500;"> Invite your friends<br>
    Select the drinks,<br>
    Determine the location,<br>
    Split the bill.</p>
</div>
<div class="content" *ngIf="!visible" (click)="budget()">
    <img src="../../assets/images/coin_neon.svg">
    <h1>BUDGET</h1>
    <p style="font-weight:500;">Determine how much money<br>
    you have, then choose<br>
    the drinks, location, and so on.</p>
</div>  -->