<div *ngIf="!validPartyId" class="content">
    <h1>Check existing party</h1>
    <p>Enter party id</p>
        <input #partyid type="text" placeholder="Name of a party">
    <div class="btnSmall" (click)="checkParty(partyid.value)">Check existing</div>     
    <h1>Create new party</h1>
    <p>Party name</p>
        <input #partyName type="text" placeholder="Name of a party">       
  
    <div class="btnSmall" (click)="createParty(partyName.value)">Save</div>
</div>
<div *ngIf="validPartyId" class="content" (click)="onTextBtnClick('PLACE')">
   <div style="width: 100%; ">
        <img src="../../assets/images/Pin.svg"  width="70px" height="70px" style="float:right; margin-top: -20px;">      
        <h2>LOCATION</h2>
   </div>        
</div>

<div *ngIf="validPartyId" class="content" (click)="onTextBtnClick('ITEMS')"> 
    <div style="width: 100%;">
        <img src="../../assets/images/Beer.svg" width="70px" height="70px" style="float:right; margin-top: -20px;">      
        <h2>ITEMS NEEDED</h2>
    </div>
</div>

<div *ngIf="validPartyId" class="content" (click)="onTextBtnClick('GUEST')">
    <div style="width: 100%;">
        <img src="../../assets/images/Person.svg" width="70px" height="70px" style="float:right; margin-top: -20px;">      
        <h2>GUEST LIST</h2>
    </div>
</div>
