.footer{
    width:100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    padding-top:5px;
    padding-bottom: 15px;
}

#cont{
    margin-bottom: 100px;
}

#add{
    margin-bottom: 30px;
}

.btnSmall-save{
    width: 90px;
    height: 50px;
    background-Color: #00FFFF;
    color: #303138;
    font-Size:15px;
    border-Radius: 30px;
    box-Shadow: 2px 2px 5px #23242A, -2px -2px 5px #3B3D44;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 600;
    margin-right: 60px;
}

// od kle naprej je za input

.box{
    display: flex;
    justify-content: space-between; 
}

.child{   
    display: inline-block;
}

.icon{
    width: 30px;
    height: 30px;
}
