<div class="header" style="display: block; padding-bottom: 40px;">
    <div class="btnMedium" style="float:left;" (click)="addGuest()">
        <p>Add people</p>
    </div>
    
    <input style="float:right; width:100px; margin:0px" type="text" placeholder="Search">
</div>

<div *ngIf="addNewVisible" id="add" class="content">
    <div clas="box">
        <!-- Pokaže se samo ena ta slika glede na spremenljivko host -->
        <img *ngIf="host" class="child icon" src="../../assets/images/Party_yes.svg" alt="party hat on" (click)="toggleHost()">
        <img *ngIf="!host"  class="child icon" src="../../assets/images/Party_no.svg" alt="party hat off"(click)="toggleHost()"> 
        
        <input #name style="width:100px;"  type="text" placeholder="name or nickname">
    
        
        <div class="btnSmall" style="float:right; margin-top:25px;" (click)="addGuest()">
            <p>X</p>
        </div>
        
        <!-- Pokaže se samo ena ta slika glede na spremenljivko paid -->
        <div *ngIf="paid" class="btnSmall" style="float:right; margin-top:25px; background-color: greenyellow;" (click)="togglePaid()">
            <p style="background-color: greenyellow; color:black;">Paid</p>
        </div>
        <div *ngIf="!paid" class="btnSmall" style="float:right; margin-top:25px;" (click)="togglePaid()">
            <p>Paid</p>
        </div>
        
        <!-- Pokaže se samo ena ta slika glede na spremenljivko host -->
        <img *ngIf="meat" class="child icon" style="float:right; margin-top: 20px; margin-right: 5px;" src="../../assets/images/Meat_yes.svg" alt="meat eater" (click)="toggleMeat()">
        <img *ngIf="!meat" class="child icon" style="float:right; margin-top: 20px; margin-right: 5px;" src="../../assets/images/Meat_no.svg" alt="non meat eater" (click)="toggleMeat()">
        <br>
        
        <div class="btnMedium" style="margin-top: 20px;" (click)="postGuest(name.value)">
            <p>Add to list</p>
        </div>
    </div>

        
</div>

<div id="cont" class="content" style="clear:both; overflow-y:auto;">  
    <app-guest-item *ngFor="let guest of guestList"
        [guest]="guest"
        [host]="guest.nonDrinker"
        [name]="guest.name"
        [meat]="guest.vegetarian"
        [paid]="guest.vegan"></app-guest-item>   
</div>

<div class="footer">
    <div class="btnSmall" style="float:left; margin-right: 40px;" (click)="party()">
        <p><</p>
    </div>
    <div class="btnBig" style="float:right; margin-right: 20px;">
        <p>GUEST LIST</p>
    </div>
</div>