.footer{
    width:100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    padding-top:5px;
    padding-bottom: 15px;
}

#cont{
    margin-bottom: 100px;
}

#add{
    margin-bottom: 30px;
}



// od kle naprej je za input

.box{
    display: flex;
    justify-content: space-between; 
}

.child{   
    display: inline-block;
}

.icon{
    width: 30px;
    height: 30px;
}