/* You can add global styles to this file, and also import other style files */
body{
    background-color:#303138;
    color: white;
    font-family: 'Raleway'
}

.content{
    margin: 21px 21px 21px 21px;
    background-color: #303138;
    border-Radius: 30px;
    padding: 10px;
    box-Shadow:4px 4px 10px #23242A, -4px -4px 10px #3B3D44;
}
.btnSmall{
    width: 50px;
    height: 50px;
    background-Color: #303138;
    color: white;
    font-Size:8px;
    border-Radius: 30px;
    box-Shadow: 2px 2px 4px #23242A, -2px -2px 4px #3B3D44;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.btnMedium{
      width: 120px;
      height: 40px;
      background-Color: #303138;
      color: white;
      font-Size: 12px;
      border-Radius: 30px;
      box-Shadow: 3px 3px 6px #23242A, -3px -3px 6px #3B3D44;
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-wrap: wrap; 
}

.btnBig{
    width: 250px;
    height: 60px;
    background-Color: #303138;
    color: white;
    font-Size: 25px;
    border-Radius: 30px;
    box-Shadow: 4px 4px 10px #23242A, -4px -4px 10px #3B3D44;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
input[type=text], select { //<-Select pomoje odveČ?, saj ga spodaj povozi css
    width:90%;
    padding: 12px 8px;
    margin: 5px 5px 5px 5px;
    background-Color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 15px;
    border-width: 2px;
    box-shadow: inset 2px 2px 4px #23242A,
                inset -2px -2px 4px #3B3D44;
    border-style: none;
  }

  /*    k maš selectan input  */
  input[type=text]:focus, select {
    box-shadow: 0px 0px 4px #00ffff;
    outline: 1px solid #00ffff00;

  }

input[type=datetime-local], select { //<-Select pomoje odveČ?, saj ga spodaj povozi css
    width:90%;
    padding: 12px 8px;
    margin: 5px 5px 5px 5px;
    background-color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 15px;
    border-width: 2px;
    box-shadow: inset 2px 2px 4px #23242A,
                inset -2px -2px 4px #3B3D44;
    border-style: none;
    
  }

  /*Chrome icon white color*/
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .date-input{
    background-color: #303138;
  }
  
  /*    k maš selectan input  */
  input[type=datetime-local]:focus, select {
    box-shadow: 0px 0px 4px #00ffff;
    outline: 1px solid #00ffff00;
  }

input[type=number], select { //<-Select pomoje odveČ?, saj ga spodaj povozi css
    width:90%;
    padding: 12px 10px;
    margin: 5px 5px 5px 5px;
    background-Color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 15px;
    border-width: 2px;
    box-shadow: inset 4px 4px 4px #23242A,
                inset -4px -4px 4px #3B3D44;
    border-style: none;
  }
  
  /*    k maš selectan input  */
  input[type=number]:focus, select {
    box-shadow: 0px 0px 4px #00ffff;
    outline: 1px solid #00ffff00;
  }

.box{
  display: block;
}

.footer{
  width:100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
  padding-top:5px;
  padding-bottom: 15px;
}

.input-catergory{
  float:left;
  width:60%;
  margin-top: 10px;
  height: 25px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  border-width: 0px;
  outline: none;
  border-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden; //<-Optimizirat!
  border-bottom-style: groove;
  background-color: #303138;
}