/* You can add global styles to this file, and also import other style files */
*{
    background-color:#303138;
    color: white;
    font-family: 'Raleway'
}

.content{
    margin: 21px 21px 21px 21px;
    background-color: #303138;
    border-Radius: 30px;
    padding: 10px;
    box-Shadow:4px 4px 10px #23242A, -4px -4px 10px #3B3D44;
}
.btnSmall{
    width: 50px;
    height: 50px;
    background-Color: #303138;
    color: white;
    font-Size:8px;
    border-Radius: 30px;
    box-Shadow: 2px 2px 5px #23242A, -2px -2px 5px #3B3D44;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.btnMedium{
      width: 120px;
      height: 40px;
      background-Color: #303138;
      color: white;
      font-Size: 12px;
      border-Radius: 30px;
      box-Shadow: 3px 3px 6px #23242A, -3px -3px 6px #3B3D44;
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-wrap: wrap; 
}

.btnBig{
    width: 250px;
    height: 60px;
    background-Color: #303138;
    color: white;
    font-Size: 25px;
    border-Radius: 30px;
    box-Shadow: 4px 4px 10px #23242A, -4px -4px 10px #3B3D44;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
input[type=text], select {
    width:90%;
    padding: 12px 8px;
    margin: 5px 5px 5px 5px;
    background-Color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 10px;
    border-width: 2px;
  }

input[type=datetime-local], select {
    width:90%;
    padding: 12px 8px;
    margin: 5px 5px 5px 5px;
    background-Color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 10px;
    border-width: 2px;
  }

input[type=number], select {
    width:90%;
    padding: 12px 10px;
    margin: 5px 5px 5px 5px;
    background-Color: #303138;
    color: white;
    font-Size:12px;
    border-Radius: 10px;
    border-width: 2px;
  }

.box{
  display: block;
}

.footer{
  width:100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
  padding-top:5px;
  padding-bottom: 15px;
}

