<div class="content" style="padding-bottom: 80px;"> 
         <h1>SHARE</h1>
         <p>PARTY ID</p>
         <p id="ID">{{ partyId }}</p>
         <div class="btnMedium" (click)="onCopy()">Copy to clip board </div>
         <p>Copy and share it with a friend</p>
         <qrcode [qrdata]="partyId" [width]="256" [errorCorrectionLevel]="'S'"></qrcode>
         
</div>


<div class="footer">
    <div class="btnSmall" style="float:left;" (click)="party()">
        <img src="../../assets/images/Back.svg" style="width: 12px; height: auto;">
    </div>
</div>
