<div class="content" style="padding-bottom: 10px;"> 
    <h1 class="naslov" >Share this party</h1>
    <p class="text">COPY AND SHARE </p>
    <p  class="koda" id="ID">{{ partyId }}</p>
    <div class="btnMedium1" (click)="onCopy()">Copy to clip board </div>
</div>

<div class="content" style="padding-bottom: 30px;">
    <div style="text-align: center;">
       <p class="text">Share your QR code with a friend</p>
       <qrcode [qrdata]="partyId" [width]="250" [errorCorrectionLevel]="'S'"></qrcode>
   </div>
         
</div>


<div class="footer">
<div class="btnSmall" style="float:left; margin-left: 21px;" (click)="party()">
        <img src="../../assets/images/Back.svg" style="width: 12px; height: auto;">
    </div>
</div>
