.content-party{
    margin: 21px 21px 21px 21px;
    height: 110px;
    border-Radius: 30px;
    padding: 10px;
}

.title-party{
    color:  #00ffff;
    text-align: center;
    margin-top: 40px;
    height: 25px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    background-color: #303138;
    border-style: none;
    box-shadow: inset 2px 2px 4px #303138,
                inset -2px -2px 4px #303138;
    border-style: none;
}