<div class="btnMedium-x" style="float:right;" (click)="deleteCategory()">
    <img style="float:right; width: 100%;" src="../../assets/images/X.svg">
</div> 
<div class="content-category" (click)="goToCategory()">
        
    <img style="float:right; width: 20%; margin-top:  25px; fill-opacity: 0.5;" src="../../assets/images/Person.svg">


    <!-- <p>{{ category.name }}</p> -->
    <input class="input-catergory" #name type="text" placeholder="Category" value="{{ category.name }}"> 
    

    <!-- Sm dal stran button
    <div class="btnMedium-add" style="margin-top: 70px;" (click)="goToCategory()">
        <img class="forward" src="../../assets/images/Back.svg">
    </div>  
    -->

    
</div>
